-@news_list.each do |feed_item|
 .panel.panel-default.newsfeedView
  .panel-heading.openNewWindow{href: feed_item.linkToPost}
   .row
    .col-xs-8
     .logo
      %img{src: feed_item.logo}
     =feed_item.author
    .col-xs-4.time
     =feed_item.createdDate.strftime(ApplicationHelper::DISPLAY_DATE_FORMAT)
  .panel-body
   -if feed_item.photo
    %img.photo{src: feed_item.photo}
   =extract_links simple_format feed_item.message
   -unless feed_item.event.nil?
    %p
     .labelText
      Start Time:
     =feed_item.event.startTime.strftime(ApplicationHelper::DISPLAY_TIME_FORMAT)
    %p
     .labelText
      Location:
     =feed_item.event.location
  -unless feed_item.likesNum.nil?
   .panel-footer.openNewWindow{href: feed_item.linkToPost}
    /Likes:
    %span.glyphicon.glyphicon-thumbs-up
    =feed_item.likesNum
