.container-fluid.confimRenewals
 .row
  .col-lg-12.col-xs-12
   .panel.panel-default
    %table.table.table-striped
     %thead
      %tr
       %th Year
       %th Name
       %th
       %th Membership
       %th Student / Pensioner Number
       %th Club
       %th Last Changed
       %th Rules Accepted
       %th Fees Paid
       %th Payment Number
       %th Locked?
       %th Payment Date
     %tbody
      -confirmed_member_count = paid_member_count = member_count = 0
      -MembershipYear.where(year: renewal_financial_year, batch: nil).includes(:user).order("users.last_name").each do |year|
       -member_count += 1
       -paid_member_count += 1 if year.member_marked_paid?
       -confirmed_member_count += 1 if year.confirmed_paid
       %tr{class: "member#{year.user.id}"}
        %td
         -if year.half_year
          Half
         -else
          Full
        %td=year.user.first_name
        %td=year.user.last_name
        %td=year.membership_name
        %td="#{year.student_number}#{year.pensioner_number}"
        %td=year.affiliated_club
        %td=year.updated_at.strftime("%d/%b/%Y") unless year.updated_at.nil?
        %td
         -if year.club_rules_accepted
          %span.glyphicon.glyphicon-ok
         -else
          %span.glyphicon.glyphicon-remove
         
        %td=number_to_currency(year.total_fees)
        %td=year.payment_authorised_number
        %td
         -unless year.can_change?
          %span.glyphicon.glyphicon-ok
        %td
         -if year.confirmed_paid or cannot? :update_member_renewals, current_user
          =year.payment_date.strftime("%d/%b/%Y") unless year.payment_date.nil?
          =simple_form_for [year], url: membership_year_admin_paid_revert_path(year), html:{class: "inline"} do |f|
           =f.button :button, class: "btn btn-default revertPaidBtn" do
            %i.glyphicon.glyphicon-pencil
         -else
          =simple_form_for [year], url: membership_year_admin_paid_path(year), html:{class: "inline"} do |f|
           .date-picker.input-group.date.center{style: "width:200px"}
            =f.input :payment_date, label: false, as: :string,
                input_html: {class: "form-control", type:"text", 
                value: year.member_marked_paid? ? year.payment_date.strftime("%d/%m/%Y") : ""}
            %span.input-group-addon
             %i.glyphicon.glyphicon-th
            %span.input-group-btn
             =f.button :button, "Paid", class: "btn btn-default paidBtn"
 .row
  .col-xs-6.col-xs-offset-3
   .panel.panel-default
    %table.table.table-striped
     %tbody
      %tr
       %td
        %b Entered:
        =member_count
       %td
        %b Paid:
        =paid_member_count
       %td
        %b Confirmed:
        =confirmed_member_count
