.container-fluid
 .row
  .col-xs-2.col-xs-offset-5
   .panel.panel-default
    .panel-body
     =simple_form_for [membership_year], url: membership_year_list_path(@year), method: :get, html: {class: "mb-0" } do |f|
      =f.input :membership_year, selected: membership_year_list_path(@year), include_blank: false, input_html: {onChange:"window.document.location = this.value"}, collection: @years.map {|year| [year, membership_year_list_path(year)]}
     %a{href: membership_year_list_path(@year, :csv)} Download
  .col-lg-12.col-xs-12
   .panel.panel-default
    %table.table.table-striped
     %thead
      %tr
       %th Year
       %th FAI
       %th Name
       %th
       %th Membership
       %th Student / Pensioner Number
       %th Club
       %th Address
       %th Contact
       %th Committee Position
       %th Wings
       
     %tbody
      -confirmed_member_count = paid_member_count = member_count = 0
      -@member_list.each do |year|
       -member_count += 1
       %tr{class: "member#{year.user.id}"}
        %td.text-nowrap
         -if year.half_year
          Half
         -else
          Full
        %td=year.user.fai
        %td=year.user.first_name
        %td=year.user.last_name
        %td
         -if year.user.non_renewal?
          Blacklisted
         -else
          =year.membership_name
        %td="#{year.student_number}#{year.pensioner_number}"
        %td=year.affiliated_club
        %td=year.user.address
        %td
         =year.user.home_phone
         -unless year.user.home_phone.nil? || year.user.mobile_phone.nil?
          /
         =year.user.mobile_phone
         
        %td=year.user.committee_position
 .row
  .col-xs-6.col-xs-offset-3
   .panel.panel-default
    %table.table.table-striped
     %tbody
      %tr
       %td
        %b Total:
        =member_count
