.container
 .row
  .col-xs-6.col-xs-offset-3
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      New Member Fees
    .panel-body
     %p
      %b Member:
      =@user.first_name
      =@user.last_name
      (#{@user.fai})
 .row
  .col-md-offset-3.col-md-6
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      #{membership_year.year_range} #{membership_year.half_year? ? "Half" : "Full"} Year -
      New Membership
    .panel-body
     =simple_form_for [@user, membership_year], url: new_member_fees_user_membership_years_path(@user), method: :post do |f|
      %h2{style: "margin-top: 0px"}
       Membership Type
      .indented
       =f.input :membership_type, as: :radio, value: :senior, label: "Senior"
       =f.input :membership_type, as: :radio, value: :pensioner, label: "Pensioner",
         input_html: {data: {toggle: "radio-collapse", target: "#pensionerNumberGroup"}}
       #pensionerNumberGroup.indented
        .input-group
         %span.input-group-addon Pensioner Number
         =f.input :pensioner_number, label: false,
            input_html: {class:"form-control", type:"text", placeholder:"Enter the pensioner number"}
       =f.input :membership_type, as: :radio, value: :student, label: "Student",
          input_html: {data: {toggle: "radio-collapse", target: "#studentNumberGroup"}}
       #studentNumberGroup.indented
        %i Students must be under 25
        .input-group
         %span.input-group-addon Student Number
         =f.input :student_number, label: false, 
            input_html: {class: "form-control", type:"text", placeholder:"Enter the student number"}
       =f.input :membership_type, as: :radio, value: 'junior', label: "Junior",
          input_html: {data: {toggle: "radio-collapse", target: "#juniorDescription"}}
       #juniorDescription.indented
        %i Juniors must be under 18
       =f.input :membership_type, as: :radio, value: 'spectator', label: "Spectator",
          input_html: {data: {toggle: "radio-collapse", target: "#spectatorDescription"}}
       #spectatorDescription.indented
        %i
         Spectators are considered
         %b full members
         but have NO flying rights, and are not covered by MAAA insurance

      %h2 Affiliation
      .indented
       =f.input :affiliate, as: :radio, value: "False", label: "MARCS is my main club"
       =f.input :affiliate, as: :radio, value: true, label: "Another club is my main club",
          input_html: {data: {toggle: "radio-collapse", target: "#mainClubGroup"}}
       #mainClubGroup.indented
        .input-group
         %span.input-group-addon Main club
         =f.input :affiliated_club, label: false, 
            input_html: {class: "form-control", type:"text", placeholder:"Enter name of your main club"}
 
      %br
      .indented
       =f.button :submit, "Create Membership", id: "submitButton", class: "btn btn-primary"
