.container-fluid
 .row
  .col-lg-12.col-xs-12
   .panel.panel-default
    %table.table.table-striped
     %thead
      %tr
       %th Year
       %th Name
       %th
       %th Address
       %th Email
       %th Student / Pensioner Number
       %th Club
       %th Membership
       %th Insurance Fee
     %tbody
      -full_member_count = affiliate_member_count = junior_member_count = member_count = 0
      -insurance_fees = 0
      -MembershipYear.where(year: financial_year, confirmed_paid: true).includes(:user).order("users.last_name").each do |year|
       -member_count += 1
       -affiliate_member_count += 1 if year.affiliate
       -junior_member_count += 1 if year.junior?
       -full_member_count += 1 unless year.junior? or year.affiliate
       -insurance_fees += year.insurance_fee
       %tr
        %td
         -if year.half_year
          Half
         -else
          Full
        %td=year.user.first_name
        %td=year.user.last_name
        %td=year.user.address
        %td=year.user.email
        %td="#{year.student_number}#{year.pensioner_number}"
        %td=year.affiliated_club
        %td=year.membership_name
        %td=number_to_currency(year.insurance_fee)
 .row
  .col-xs-6.col-xs-offset-3
   .panel.panel-default
    %table.table.table-striped
     %tbody
      %tr
       %td
        %b Junior:
        =junior_member_count
       %td
        %b Affiliate:
        =affiliate_member_count
       %td
        %b Full Fee:
        =full_member_count
       %td
        %b Total:
        =member_count
       %td
        %b Fees:
        =number_to_currency(insurance_fees)
