%html
 %head
  %meta{content:'text/html; charset=UTF-8', http:{equiv:'Content-Type'}}
 %body
  %p Registrar,
  %p Could you please amend the details for the member:
  -@member.member_fields.each do |field, value|
   %p
    %b="#{field}:"
    =value
  %br
  %p
   The following details have changed:
  -@member.changed_member_fields.each do |field, change|
   %p
    Field
    =field
    has been changed from 
    ="'#{change[0]}'"
    to
    ="'#{change[1]}'"
