%p
 .labelText
  Name:
 .firstName=user.first_name
 .lastName=user.last_name
%p
 .labelText
  =label :user, :email
 .email=user.email

%p
 .labelText
  =label :user, :address
 .addressStreet=user.street
%p
 .labelText
 .addressCity=user.city
%p
 .labelText
 .addressPostcode=user.postcode

