%table.table.table-condensed{style:"font-size:10px;"}
 %tr
  %th
  %th Committee Member
  %th Position
  %th Mobile
  %th Email
 -get_committee_members.each do |member|
  %tr
   %td
    -unless (member.profile_image.nil?)
     %span.glyphicon.glyphicon-user{data:{toggle:"tooltip",placement:"left", html:"true"},title:"<img style='width:200px;padding-right:15px;' src='#{member.profile_image}'>"}
   %td="#{member.known_by_first_name} #{member.last_name}"
   %td=member.committee_position
   %td{style:"white-space:nowrap;"}=member.mobile_phone
   %td=member.external_email