.viewMember
 %p
  .labelText
   Name
  %span.firstName=user.name
 %p
  .labelText
   =label :user, :email
  %span.email=user.email
 
 %p
  .labelText
   =label :user, :address
  %span.addressStreet=user.street
 %p
  .labelText
  %span.addressCity=user.city
 %p
  .labelText
  %span.addressPostcode=user.postcode
 %p
  .labelText
   Membership Paid?
  %span
   -if user.financial?
    %span.paidMembership.glyphicon.glyphicon-ok
   -else
    .unpaidMembership.glyphicon.glyphicon-remove
 -if user.financial?
  %p
   .labelText
    Membership Type
   %span
    =user.membership_name
    Member
