%p
 .labelText
  Name:
 =user.first_name
 =user.last_name
%p
 .labelText
  =label :user, :email
 =user.email

%p
 .labelText
  =label :user, :address
 =user.street
%p
 .labelText
 =user.city
%p
 .labelText
 =user.postcode

-user.user_wings.each do |wing|
 =image_tag "#{wing.wing_type}.png",class:"wings_button wings_#{wing.rank == "-"?"none":wing.rank}", 
 title: "#{wing.rank == "-"?"No":wing.rank} #{wing.wing_type} wings.", data: {toggle:"tooltip", placement:"bottom"}
