%p
 .labelText
  Name:
 =user.first_name
 =user.last_name
%p
 .labelText
  =label :user, :email
 =user.email

%p
 .labelText
  =label :user, :address
 =user.street
%p
 .labelText
 =user.city
%p
 .labelText
 =user.postcode

