.container
 .row
  .col-xs-6.col-xs-offset-3
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      Update Membership Details
    .panel-body
     = simple_form_for(current_user) do |f|
      %p
       =f.input :first_name
       =f.input :last_name
       =f.input :known_by
      %p
       =f.input :email
      %p
       =f.input :home_phone
      %p
       =f.input :mobile_phone
      %p
       =f.input :street
      %p
       =f.input :city
      %p
       =f.input :postcode
      
      %br
      %p
       =f.submit "Update my details", class: "updateMyDetails btn btn-primary"
