.container
 .row
  .col-xs-6
   .panel.panel-default.withLink
    %a.panelLink{href: edit_user_path}
     &nbsp
    .panel-heading
     .panel-title
      Update Membership Details
    .panel-body
     =render "view_member_details", {user: current_user}
  .col-xs-6
   .panel.panel-default.withLink
    %a.panelLink{href: edit_user_path}
     &nbsp
    .panel-heading
     .panel-title
      Club Committee
    .panel-body
 .row
  .col-xs-6
   .panel.panel-default.withLink
    %a.panelLink{href: edit_user_path}
     &nbsp
    .panel-heading
     .panel-title
      Meeting Minutes
    .panel-body
  .col-xs-6
   .panel.panel-default.withLink
    %a.panelLink{href: edit_user_path}
     &nbsp
    .panel-heading
     .panel-title
      Club Trainers
    .panel-body
