.container
 -if ! current_user.financial?
  .row
   .alert.alert-danger Our records show you haven't paid your membership. Some features of the website will not be available
 .row
  .col-md-offset-3.col-md-6
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      Membership Details
    #memberDetails.panel-body.in
     =render "view_member_details", {user: current_user}
     %p
      =button_to "Change my details", edit_user_path, method: :get, class: "updateProfile btn btn-primary"
 .row
  .col-md-offset-3.col-md-6
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      Account Options
    .panel-body.in
     =button_to "Change password", change_password_user_path, method: :get, class: "btn btn-primary"
 .row
  .col-xs-12.small
   .refreshDetails.jqueryLoad{href: refresh_user_path} Loading members...
