.container
 .row
  -if can? :view_club_trainers, current_user
   .col-xs-offset-2.col-xs-4
    .panel.panel-default.withLink{data:{toggle:"collapse", target:"#planeTrainers"}}
     .panel-heading
      %h1.panel-title
       Plane Trainers
     #planeTrainers.panel-body.in
      =render "view_trainer_details", {members: User::plane_instructors}
  -if can? :view_club_trainers, current_user
   .col-xs-4
    .panel.panel-default.withLink{data:{toggle:"collapse", target:"#heliTrainers"}}
     .panel-heading
      %h1.panel-title
       Heli Trainers
     #heliTrainers.panel-body.in
      =render "view_trainer_details", {members: User::heli_instructors}
  