-content_for :title, "Become a Club Member"
-membership_form = "membership_form/marcs_2017-2018_membership_form.pdf"
.container
 .row
  .col-xs-12.col-sm-10.col-sm-offset-1
   %h1 Marcs Membership
   %p
    If you have previously been a MARCS member then all you need to do is fill out a
    %a{href: renew_user_membership_years_path} Membership renewal
    and pay your membership fees
   %br
   %h2 New to flying RC?
   %p
    If you have never been a member of MARCS before then head down to the club one weekend see the
    %a{href: club_location_home_index_path()}Club Location
    page for more info.  Make sure you print out a 
    %a{href: image_path(membership_form)} Membership form
    \.  The best time to head down is on a weekend usually between 10am to 2pm on a fairly low wind day,
    if you look for a day with less than 20km/h winds and not raining there will usually be someone at the field.
   %p
    When you come down, introduce yourself to one of our members and ask them if they are willing to propose you
    become a member (this section will need to be filled in on the 
    %a{href: image_path(membership_form)} Membership form
    ). Once you have your form filled in then please contact the member registrar on
   %p
    =image_tag "marcs_email.gif"
    From there he will give you advice on what planes/helicopters are good for learning and guide you though the process
    of buying and building your first model, as well as who to contact for learning to fly your new model!
   %br
   %h2 Simulators and transmitters
   %p
    If you are super keen to get in and try it, then a really great option (if you have a reasonably recent computer)
    is to buy a transmitter and a simulator, it will give you a good feeling of how models feel in the air, and get 
    you used to what stick movements to make to get the plane doing what you want.
   %p
    The transmitter you buy is very much a personal preference although as a rough guide, stick to the major brands,
    JR, Spektrum, or Futaba, and make sure you get a transmitter with at least 6 channels, most of the transmitters below
    that tend to be difficult to program, have very limited features and having a good mid priced transmitter will save you
    having to upgrade as your flying skills develop. There are two major types of transmitter, 
    Mode 1 (Throttle and rudder on the left stick), and Mode 2 (Elevator and rudder on the left stick).  Generally Mode 2
    is the most used (Most helicopter pilots prefer it, some planes also fly it), Mode 1 is still used by a many of our
    plane pilots, there isn't a better or worse mode, to use, it is just what you get used to. New members can access the
    considerable experience from existing members regarding the purchase of suitable radio gear, an appropriate training
    aircraft and where to source your Radio Control equipment.
   %p
    In terms of RC flight simulators there are a few good options Pheonix(PC), Realflight(PC), AeroflyRc(PC/Mac), most
    simulators allow you to plug in your own transmitter into your computer (via USB) and will give you a good idea of
    what it feels like to fly an RC plane, without the cost of crashing your pristine model. It is a great idea to just
    get used to the basics before asking an instructor to help you fly a real RC plane (via a 'buddy box cable' which
    allows the instructor to take control if the model looks like it will crash). The main things to practise are:
   %p
    For a plane - takeoffs, and flying a circuit, landings take a bit of practise so don't be worried if you aren't
    good at them before coming to the club, as the club can provide a mentor/trainer to get you to your first skill level
    (Bronze or Silver Wings).
   %p
    For a helicopter - takeoff and hovering, and basic tail in flying (so tail pointing towards you, and moving forward,
    back, left and right)
   %p
    Once you have some control it is a good idea to come down to the club and talk to one of our instructors before buying
    a model, they will be able to guide you along from here.
    
   %p
   %p Best of luck on your flying adventures!
   %p The MARCS Committee