%h1 The MARCS Club Rules
%p The Club rules have been set out in a more readable way. Some of them appear in more than one section.
%p To be read in conjunction with the MARCS Club Constitution 

%h1 Administration and Membership
%ol
 %li Meetings are held on the last Thursday of every second month at the MARCS field, or as advised.
 %li
  Members are encouraged to take an active part in the Club administration by attending the General Meetings
  and the Annual General Meeting, the latter held on first Thursday of July. It is your Club and it requires
  your involvement to be vibrant.
 %li Each member is to display their current membership card whilst flying, or have it readily available.
 %li New members are encouraged to use a trainer type aircraft and ‘buddy box’ whilst under instruction.
 %li Only Club designated instructors are permitted to teach new members. Instructor’s names are published in the Newsletter.
 %li Members should restrict flights to 10 minutes when other members require the same frequency (non 2.4GHz).
 %li
  A non MARCS club member is permitted to fly by invitation of a financial member provided they have a valid FAI Card and
  record his/her name in the Visitor Register located in the Club room. Visitors or prospective new members wishing to fly a
  model must:
  %ul
   %li Sign the Visitors Book
   %li Show flight rating
   %li Must have an authorised MARCS member with them during all flights
   %li Adhere to Club rules
   %li Visitors / prospective members are only allowed to sign the visitors book a maximum of four times. (MOP042)
 %li The due date for annual membership renewal is 30th June each year.
 %li
  The ‘New Member’ Joining fee applies in the first year only as indicated on the application form.Yearly and half yearly fees apply
  from the following dates:
  %ul
   %li 1st July to 30th June - Full Year
   %li 1st January to 30th June - Half Year
 %li
  The reduced VMAA fees only apply to new members or members that were in fact, non-financial in the previous Financial Year.
  Please seek clarification from the Treasurer if in doubt.
 %li
  A financial member of any other Club affiliated with the VMAA is required to show proof of current membership before MARCS
  Affiliate Membership is approved.
 %li
  Only applications for new membership require a Proposer/Seconder. Prospective members are encouraged to come to the field
  and introduce themselves to any member to obtain the signatures if they are intending to join the club.
 %li Acceptance of your application is dependent upon payment and receipt of a completed and signed membership form.
 %li
  Access to the MARCS field is controlled by a Club issued gate key. Key Management:
  %ul
   %li A new key is issued annually at the AGM or at any subsequent General Meeting or at the field by arrangement.
   %li Keys remain the property of MARCS
   %li The old key is to be returned prior to the new key being issued.
   %li A replacement key charge $20.00 will apply if the previous key is not returned.
   %li Gate keys will not be mailed to members.
   %li Gate keys are not to be returned via post (Australia Post refuse to deliver them and you’ll forfeit the key cost).
 %li Gas turbine jets are not permitted to fly at the field except by specific permission of the Committee.
 %li Access to the field is not permitted on ‘Total Fire Ban’ days. Refer to: www.cfa.vic.gov.au/restrictions/central-firedistrict
 %li A Club penalty may apply to members who breach any safety rules.

%h1 The MARCS Flying Field
%ol
 %li
  Field Access is controlled via padlocked gate. A key will be only issued to financial members with a minimum Bronze Wings
  proficiency rating in either fixed or rotary wing. A $20 key deposit applies
 %li
  Derrimut Grasslands is a protected area by Flora & Fauna Legislation. Care must be exercised not to disturb the native
  grasslands, any rock or to introduce or import any foreign plant matter.
 %li
  Removal of rubbish personally generated should be removed from the field by the member, including cigarette butts, broken
  model components, food and packaging etc..
 %li All field works must be approved by the Committee prior to undertaking any works. 
 %li
  Regular working bees relating specifically to ‘field management’ are held periodically throughout each year as part of our
  cooperative relationship with PARKS Victoria. Weed eradication, rubbish cleanup etc are conducted and all members are
  requested to participate whenever possible.
 %li
  Parking of vehicles is limited to areas specified. Driving on the grasslands is prohibited. Over-flow parking shall only occur on
  Boundary Road.

%h1 General Restrictions
%ol
 %li Gas turbine jets are not permitted to fly at the field except by specific permission of the Committee.
 %li Access to the field is not permitted on ‘Total Fire Ban’ days. Refer to: www.cfa.vic.gov.au/restrictions/central-fire district
 %li
  Civil Aviation Safety Authority (CASA) regulations require that a model must be kept within the boundaries of the field. Refer to
  current Flying Field drawing (http://www.marcs.org.au) and as displayed in the Club Room.
  %ul
   %li Beyond our fenced field boundary to the South or East. Penalties apply to a breach of this rule.
   %li Above 300 feet (unless an increased clearance is granted).
   %li Over the pit area, clubhouse, car park or within 30 meters (100ft ) of people.
 %li
  Heavy Models, meaning those with a dry weight of >7kg and as further defined in MOP 015, shall only be flown by pilots holding
  Gold Wings proficiency.
 %li
  Models with an engine capacity greater than 62cc or an engine having a power capacity greater than 6 horsepower or an
  electric power plant greater than 4.8kilowatts are not permitted to fly at MARCS.

%h1 Flight Lines and Runways
%ol
 %li
  Pilots flying model aircraft must do so from the designated Flight Line and within the designated ‘envelope’ for type of aircraft
  (fixed or rotary wing) unless alternative arrangements for specific events are made and communicated by the Committee or by
  mutual consent between the pilots on the day.
  Specifically, flying is not permitted:
  %ul
   %li Beyond our fenced field boundary to the South or East. Penalties apply to a breach of this rule.
   %li
    Beyond our designated flight path envelope in particular the east and south depth perception markers. Penalties apply to a
    breach of this rule.
   %li Above 300 feet (unless an increased clearance is granted).
   %li Over the pit area, clubhouse, car park or within 30 meters (100ft ) of people.
   %li Closer than 9m to any pilots or observers (refer to MOP014).
 %li
  All pilots are to stand in (or within 5 metres of) the designated pilots box to facilitate communication and no more than five pilots
  are to be flying at any one time on the same flight line.
 %li
  Pilots are to fly aircraft in the prevailing circuit as dictated by the wind direction and/or Safety Officer on the day. Taking off
  should be into the wind and the first turn should be away from the clubhouse.
  %ul
   %li If the flight line is being used by a fixed wing pilots, only standard circuit flying is permitted.
   %li Under no circumstances is 3D style flying permitted whilst fixed wing aircraft are being flown from the same flight line.
 %li
  The North-South runway may be shared with the East-West runway air space provided any air space is not being used for fixed
  wing aircraft.
 %li All pilots must stand in or within 5 metres of the pilot box and be accompanied by a spotter.
 %li
  Fixed wing models are limited to use the air space aligned with the north south runway. The east west runway may be used for
  take off and landing where the predominant wind is easterly or westerly. Under no circumstances shall the air space above each
  runway be used together. An exception to this rule is permitted for dead stick or emergency landings.

%h1 Technical Safety
%ol
 %li Gas turbine jets are not permitted to fly at the field except by specific permission of the Committee.
 %li The recommendations of MOP013 shall be followed for receivers after any suspected malfunction or serious crash.
 %li
  All models must be fitted with a radio system having a “fail safe” feature. That is, the ability to shut down the motor or engine
  should the radio reception (link) be lost.
 %li
  All models must have fail safe enabled. Prior to the model’s first flight of the day each day, the fail safe operation must be tested
  to confirm it is operating correctly.
 %li
  Flight battery packs must be checked for remaining capacity of charge prior to each flight. The type of meter used must be
  capable of providing a percentage value of the battery capacity i.e. 90% 70% etc. for the type of battery used. The battery
  checking meter must be capable of providing the capacity test for the type of battery being tested. i.e. LiFe, 123, LiPo, NiCd,
  NiMH etc.. 
 %li
  Prior to a new models’ first flight or a model that has had structural repairs carried out, it must be inspected by another member
  pilot (deemed to be suitably qualified) to ensure the model is airworthy and safe to fly.
 %li
  The pilot of a new model’s first flight or the pilot of the first flight of a model that has had structural repairs carried out must be
  accompanied by another member pilot holding the relevant proficiency during the first flight.
 %li A Club penalty may apply to members who breach any safety rules.

%h1 Behavioural Safety
%ol
 %li New members are encouraged to use a trainer type aircraft and ‘buddy box’ whilst under instruction.
 %li
  Only Club designated instructors are permitted to teach new members. Instructor’s names are published in the Newsletter and
  on the MARCS website.
 %li
  Pilots flying model aircraft must do so from the designated Flight Line and within the designated ‘envelope’ for type of aircraft
  (fixed or rotary wing) unless alternative arrangements for specific events are made and communicated by the Committee or by
  mutual consent between the pilots on the day.
 %li
  Specifically, flying is not permitted:
  %ul
   %li Beyond our fenced field boundary to the South or East. Penalties apply to a breach of this rule.
   %li
    Beyond our designated flight path envelope in particular the east and south depth perception markers. Penalties apply to a
    breach of this rule.
   %li Above 300 feet (unless an increased clearance is granted).
   %li Over the pit area, clubhouse, car park or within 30 meters (100ft ) of people.
   %li Closer than 9m to any pilots or observers (refer to MOP014).
 %li Instructors are to devote sufficient time during lessons to depth perception to ensure the above are adhered to.
 %li An observer is recommended to be present when a pilot is flying.
 %li
  All pilots are to stand in (or within 5 metres of) the designated pilots box to facilitate communication and no more than five pilots
  are to be flying at any one time on the same flight line.
 %li
  All pilots must call out specific manoeuvres to fellow pilots when appropriate, (i.e. “Landing”, “Taking-Off”, “Touch & Go”, “Dead
  Stick”, “On the field” etc).
 %li
  Model aircraft motors are to be started on the ‘Start-up Benches’ or ground model restraints only. When starting large aircraft
  with an electric starter an additional method of restraint is recommended. The orientation of the restraints shall not be changed
  except as agreed by the Committee.
 %li
  Models are not permitted to be taxied in the pits area or from the runway towards the pits area. Models shall not take off from
  any area other than the specified runway. Pilots shall endeavour to take off from the centre line of the runway.
 %li
  Pilots are to fly aircraft in the prevailing circuit as dictated by the wind direction and/or Safety Officer on the day. Taking off
  should be into the wind and the first turn should be away from the clubhouse.
 %li
  All ordinary members, including Committee Members and Club Instructors assume the role of Safety Officer(s). The Committee
  may nominate a Safety Officer for specific events.
 %li All 36 & 27MHz transmitters shall have a frequency card in the Silvertone Frequency Board prior to being switched on.
 %li
  Non 2.4GHz transmitters should be:
  %ul
   %li Placed in the pound provided when not in use.
   %li Should follow the recommendations of MOP013
 %li Members should follow the recommendations of MOP045 concerning the use of mobile phones at the field.
 %li Pilots will be briefed regularly on Safety topics via club meetings & newsletters
 %li
  All members are responsible for informing themselves of the current MAAA Manual of Procedures (MOPs) which may be found
  at http://www.maaa.asn.au/maaa/mop.html.
 %li Models are not permitted to fly with a flight battery pack having less than 50% of its charge capacity.
 %li
  Heavy Models, meaning those with a dry weight of >7kg and as further defined in MOP 015, shall only be flown by pilots holding
  Gold Wings proficiency.
 %li
  Rotary wing models are permitted to fly from the North-South flight line under the following conditions:-
  %ul
   %li If the flight line is being used by a fixed wing pilots, only standard circuit flying is permitted.
   %li Under no circumstances is 3D style flying permitted whilst fixed wing aircraft are being flown from the same flight line.
   %li
    The North-South runway may be shared with the East-West runway air space provided any air space is not being used for
    fixed wing aircraft. And,
   %li All pilots must stand in or within 5 metres of the pilot box and be accompanied by a spotter. 
 %li
  Fixed wing models are limited to use the air space aligned with the north south runway. The east west runway may be used for
  take off and landing where the predominant wind is easterly or westerly. Under no circumstances shall the air space above each
  runway be used together. An exception to this rule is permitted for dead stick or emergency landings.
 %li A Club penalty may apply to members who breach any safety rules.

%h1 Training and probation
%ol
 %li New members are encouraged to use a trainer type aircraft and ‘buddy box’ whilst under instruction.
 %li Only Club designated instructors are permitted to teach new members. Instructor’s names are published in the Newsletter.
 %li
  Visitors or prospective new members wishing to fly a model must:
  %ul
   %li Sign the Visitors Book
   %li Show flight rating
   %li Must have an authorised MARCS member with them during all flights
   %li Adhere to Club rules
   %li Visitors / prospective members are only allowed to sign the visitors book a maximum of four times. (MOP042)
 %li
  All new members not holding a Bronze Wing proficiency (under instruction) will be limited to fly:-
  %ul
   %li
    Fixed wing aircraft of model size limited to .46 cu in two stroke glow engine or .60 cu in 4 stroke glow engine or 1.2 kilowatt
    electric power plant.
   %li
    If a Trainer type model may be used, a .60 cu in two stroke glow engine or .90 cu in 4 stroke glow engine or a 1.9 Kilowatt
    electric power plant may be used.
   %li Rotary wing aircraft size - to be determined.
 %li
  All members who successfully attain the bronze wing proficiency from the year 2013/14 will also be placed on a probation
  period.
  %ul
   %li Probation period for fixed wing pilots consists of 100 five minute flights
   %li Each flight must be witnessed by another member and recorded and signed and dated on a flight log by the witness.
   %li
    If the pilot attains gold wings proficiency during the probation period, the probation period will be deemed to be completed
    and flying restrictions applicable to the probation will no longer apply.
   %li Model size limitations outlined in rule 4 above will remain during the probation period.
 %li Probation conditions for rotary wing aircraft - to be determined.
