.container
 .row
  .col-xs-10.col-xs-offset-1
   %h2 Club Location
   %p
    The MARCS flying club doesn't have set hours we are open, but if the wind is low and it is a nice sunny day you will definitely find plenty of people at the field. 
    Come down and say hi and you will find us a welcoming group whatever you want to fly!
   %p
    The field is easy to find located just off the Western Ring Road on Boundary Road.
   %iframe.center{src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88509.05767633226!2d144.8144704892523!3d-37.83060381532163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16f299f8ece0e424!2sMARCS+Model+Flying+Club!5e0!3m2!1sen!2sau!4v1478075952415",
    width:"600",height:"450",frameborder:"0",style:"border:0",allowfullscreen:true}
   %br
   %br
   %p Here is a great closeup of the field showing all our flight lines
   %p
    =image_tag "field_sat.jpg", {class: "center"}