.container
 .row
  .col-xs-6
   %h3{style:"margin-top:0px;"} Newsfeed
   .newsfeed.jqueryLoad{href: newsfeed_index_path}
  .col-xs-6
   %h3{style:"margin-top:0px;"} Club Calendar
   %iframe{id:"675019202",src:"http://www.google.com/calendar/embed?src=marcs.vic@gmail.com&color=%23668CD9&ctz=Australia/Melbourne&showTitle=0&showPrint=0&showNav=0&showDate=0&showTabs=0&showCalendars=0&hl=en_GB",title:"MARCS Club Events",width:"100%",height:"500px",frameborder:"0",scrolling:"no"}