.container.homeScreen
 .imageBackground
  =image_tag "backgrounds/marcs_and_planes.jpg"
 .row.headerBar{style:"height: 159px;"}
  .col-xs-offset-2.col-xs-10{style: "margin-top: -20px;"}
   %h1 Welcome to MARCS Flying Club
   %p 
    Our flying club is one of Australia's oldest model flying clubs, founded in the mid 1950s.  
    We the closest model aircraft flying club to Melbourne's CBD and have facilities for helicopters, planes and multicopters and 
    we are even lucky enough to have a good sized lake for float aircraft or boats!
 .row
  .col-xs-12.col-sm-6
   %h2 Newsfeed
   .newsfeed.jqueryLoad{href: newsfeed_index_path}
  .col-xs-12.col-sm-6
   %h2 Club Calendar
   /%iframe{id:"675019202",src:"http://www.google.com/calendar/embed?src=marcs.vic@gmail.com&color=%23668CD9&ctz=Australia/Melbourne&showTitle=0&showPrint=0&showNav=0&showDate=0&showTabs=0&showCalendars=0&hl=en_GB",title:"MARCS Club Events",width:"100%",height:"500px",frameborder:"0",scrolling:"no"}
   .jqueryLoad{href: calendar_events_path}