-@albums.each do |album|
 %p
  =album.title
  .albumLoader{data:{load_album: album.id}}
   .badge Waiting to refresh
   
:javascript
 function getNextAlbum() {
  var albumToLoad = $(".albumLoader").first()
  if (albumToLoad != null) {
    albumToLoad.html("<div class='badge'>Loading</div>");
  
   albumToLoad.load("#{album_photos_path(album_id: "-id-")}".replace("-id-",albumToLoad.attr('data-load-album')), function(response,status){
    albumToLoad.removeClass("albumLoader");
    if (status != "success") {
     albumToLoad.html("<div class='alert alert-danger' role='alert'>Error loading page.</div>");
    }
    getNextAlbum();
   });
  }
 }
 getNextAlbum();