-photos = @album.photos.order(:created_time)
-if photos.count == 0
 Sorry, no photos
-else
 -photos.each do |photo|
  .photoFrame
   =marcs_image_tag photo.thumbnail.url, {onClick: "openImageDisplay(this);", 
                                        style: "cursor: hand;",
                                        title: "#{photo.filename}",
                                        data:{fullscreenimage: photo.photo_url, 
                                              title: "#{@album.title} - #{photo.filename}",
                                              photoid: photo.id, toggle:"tooltip", placement:"bottom" }}
