/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 background: #ccc;
}

h1 {
 font-size: 24px;
}

h2 {
 font-size: 18px;
}

h3 {
 font-size: 16px;
}

.labelText {
    font-weight: bold;
    display: inline-block;
    width: 170px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.panelLink {
 position:absolute;
 width:95%;
 height:80%;
 &:hover {
  text-decoration: none;
 }
}

div:hover > .panel.withLink {
 @extend .panel-info;
}

.center {
 margin-left: auto;
 margin-right: auto;
 display:table;
}

.indented {
 padding-left: 20px;
}

.noMargins {
 margin: 0px;
}

label.radio{
  position: absolute;
  margin-top: 0px;
}

.simple_form .input.string, .simple_form .input.email, .simple_form .input.tel {
 input {
  width: 250px;
 }
 label {
  width: 150px;
 }
}

.date-picker input {
 width: 100px;
}

.homeScreen {
 .headerBar {
  color: white;text-shadow: 0px 0px 6px black;
 }
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #fff;
}

.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code {
border-radius: 3px;
}

.bs-callout+.bs-callout {
margin-top: -5px;
}

span.error {
 position: absolute;
 right: 0px;
 z-index: 2;
 color: red;
 font-size: 10px;
 padding-right: 4px;
}

.btn.btn-default.glyphicon.glyphicon-pencil {
 padding: 2px 6px;
 margin-bottom: 3px;
}

.field_with_errors input {
 background: mistyrose;
}

@mixin bs-mixin($name, $callout-color) {

// Callout border color
.#{$name} {
border-left-color: $callout-color;
}
// Callout header color
.#{$name} h4 {
color: $callout-color;
}
}

.inline {
 display: inline;
}

@include bs-mixin(bs-callout-default, $gray);
@include bs-mixin(bs-callout-primary, $brand-primary);
@include bs-mixin(bs-callout-info, $brand-info);
@include bs-mixin(bs-callout-danger, $brand-danger);
@include bs-mixin(bs-callout-warning, $brand-warning);
@include bs-mixin(bs-callout-success, $brand-success);
