@import "bootstrap";

.newsfeed {
    max-width: 500px;
}
#marcs-navbar > .nav{
 //@include center-block();
}
.navbar-center {
 margin: auto;
 display: table;
}
.navbar-committee {
 background-color: #115;
 border-color: #004;
}

.navbar-committee .navbar-nav > .active > a, 
.navbar-committee .navbar-nav > .active > a:hover, 
.navbar-committee .navbar-nav > .active > a:focus {
 color: #fff;
 background-color: #228;
}

.navbar-committee .navbar-nav > li > a:hover,
.navbar-committee .navbar-nav > li > a:focus {
 color: #fff;
 background-color: transparent;
}

.header {
   margin-bottom:20px;
}
nav.navbar {
 border-radius: initial;
 border-top: none;
 margin-bottom: 0px;
}

.imageBackground {
  position: absolute;
  top: 51;
  left: 0;
  z-index:-1;
  height: 200px;
  opacity: .8;
  overflow: hidden;
  
  img {
   height: auto;
   width: 100%;
  }
}
