@import "bootstrap";

.newsfeed {
    max-width: 500px;
}
#marcs-navbar > .nav{
 //@include center-block();
}
.navbar-center
{
   margin: auto;
   display: table;
}
.header {
   margin-bottom:20px;
}
nav.navbar {
 border-radius: initial;
 border-top: none;
 margin-bottom: 0px;
}

.imageBackground {
  position: absolute;
  top: 51;
  left: 0;
  z-index:-1;
  height: 200px;
  opacity: .8;
  overflow: hidden;
  
  img {
   height: auto;
   width: 100%;
  }
}
