.newsfeedView {
  .panel-heading {
    .logo {
        float:left;
        margin-right: 10px;
    }
    .time {
        color: grey;
        font-style: italic;
        text-align: right;
        font-size: 10px;
    }
  }
  .panel-body {
    .photo {
      float: left;
      margin: 5px 20px 5px 0;
    }
  }
  .panel-footer {
    padding: 5px 10px;
    color: grey;
    background-color: #fcfcfc;
    text-align: right;
  }
}