.photoGallery {

 .photoFrame {
  display:inline-block;
  padding:1px; 
  background: black;
  margin-bottom:2px;
  border: 1px solid grey
 }
 
 .photoPanel {
  margin-bottom:25px;
  .panel {
   cursor:hand;
   .albumName {
    text-align:center;
    font-weight: bold;
   }
   .photoCountBadge {
    float:right; font-size:10px;
   }
   .badge-danger {
    background-color: red;
   }
   .panel-body {
    text-align:center;
    padding:5px;
   }
  }
 }
 
 #imageDisplayModal {
  .modal-dialog {
   width:85vw;
  }
  .modal-body {
   background:black;
   #modalImage {
    max-width:80vw;
    max-height:70vh;
   }
  }
 }
 .album .panel-body {
  text-align: center;
 }
 
 .album {
  margin-left: 10px;
  margin-right: 10px;
 }
}
