.wings_button{
 width: 50px;
 height: 50px;
 border-radius: 3px;
 padding: 5px;
 margin: 3px;
}

.wings_bronze{
 border:1px solid darkgrey;
 background: peru;
}

.wings_gold{
 border:1px solid #b90;
 background: #fc0;
}

.wings_none{
 border:1px solid #eee;
 opacity: .7
}

#memberNavBar {
 border-radius: 0px 0px 5px 5px;
 width: 650px;
}

#committeeNavBar {
 border-radius: 0px 0px 5px 5px;
 width: 350px;
}
