%nav#committeeNavBar.navbar.navbar-committee.center-block
 .container-fluid
  .navbar-header
  #marcs-navbar.collapse.navbar-collapse
  .navbar-center
   %ul.nav.navbar-nav
    %li{class: (controller.is_a? UsersController and action_name == "new") ? "active" : ""}
     %a.createNewMember{href: new_user_path} New Member
    %li{class: (controller.is_a? MembershipYearsController and action_name == "list") ? "active" : ""}
     %a.renewals{href: membership_years_path} Members
    %li{class: (controller.is_a? MembershipYearsController and action_name == "index") ? "active" : ""}
     %a.renewals{href: renewals_membership_years_path} Renewals
    %li{class: (controller.is_a? MembershipBatchesController and action_name == "show") ? "active" : ""}
     %a{href: membership_batches_path} Batches
