%nav.navbar.navbar-inverse
 .container-fluid
  .navbar-header
   %button.navbar-toggle.collapsed{type:"button", "data-toggle"=>"collapse", "data-target"=>"#marcs-navbar", "aria-expanded"=>"false"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
   .navbar-brand{style: "padding-top: 7px;"}
    =image_tag "marcsLogo.png", width: "#{139*0.8}px", height: "#{92*0.8}px"
  #marcs-navbar.collapse.navbar-collapse
   .navbar-left
    %ul.nav.navbar-nav
     %li{class: (controller.is_a? HomeController and action_name == "index") ? "active" : ""}
      %a{href: home_index_path} About MARCS
     %li{class: (controller.is_a? AlbumsController) ? "active" : ""}
      %a{href:albums_path} Photos
     %li{class: (controller.is_a? UsersController) ? "active" : ""}
      %a.membersSectionMenu{href:home_user_path} Member Area
     %li{class: (controller.is_a? HomeController and action_name == "become_a_member") ? "active" : ""}
      %a{href:become_a_member_home_index_path} Become a Member
     %li{class: (controller.is_a? HomeController and action_name == "club_location") ? "active" : ""}
      %a{href:club_location_home_index_path} Club Location
     /
      %li
       %a{href:faqs_home_index_path} FAQs
   .navbar-right
    %ul.nav.navbar-nav
     -if signed_in?
      %li
       %a{href:users_sign_out_path} Sign Out
