%nav.navbar.navbar-inverse
 .container-fluid
  .navbar-header
   %button.navbar-toggle.collapsed{type:"button", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1", "aria-expanded"=>"false"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
   .navbar-brand{style: "padding-top: 7px;"}
    =image_tag "marcsLogo.png", width: "#{139*0.8}px", height: "#{92*0.8}px"
  #marcs-navbar.collapse.navbar-collapse
   .navbar-left
    %ul.nav.navbar-nav
     %li
      
     %li
      %a{href: home_index_path} About MARCS
     %li
      %a{href:photos_path} Photos
     %li
      %a{href:home_user_path} Member Area
     %li
      %a{href:become_a_member_home_index_path} Become a Member
     %li
      %a{href:club_location_home_index_path} Club Location
     %li
      %a{href:faqs_home_index_path} FAQs
   .navbar-right
    %ul.nav.navbar-nav
     -if signed_in?
      %li
       %a{href:users_sign_out_path} Sign Out
