%nav.navbar.navbar-default
 .container-fluid
  .navbar-header
   %a.navbar-brand{href:"#"}
    stuff
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
   %ul.nav.navbar-nav
    %li
     %a{href:"#"} Link