%nav#memberNavBar.navbar.navbar-inverse.center-block
 .container-fluid
  .navbar-header
  #marcs-navbar.collapse.navbar-collapse
  .navbar-center
   %ul.nav.navbar-nav
    %li{class: (action_name == "home") ? "active" : ""}
     %a{href: home_user_path} Profile
    -if can? :view_club_trainers, current_user
     %li{class: (action_name == "trainers") ? "active" : ""}
      %a.membersTrainers{href: trainers_user_path} Trainers
    -if can? :view_committee_members, current_user
     %li{class: (action_name == "committee") ? "active" : ""}
      %a{href: committee_user_path} Committee
    -if can? :view_minutes, current_user
     %li{class: (action_name == "index") ? "active" : ""}
      %a{href: minutes_path} Minutes
    -if can? :renew_membership, current_user
     %li
      %a Renew Membership
