%html
 %head
  %title Marcs
  =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  =javascript_include_tag 'application', 'data-turbolinks-track' => true
  =favicon_link_tag 'favicon.ico'
  =favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon'
  =csrf_meta_tags
  %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  =render partial: 'layouts/google_analytics'
 %body
  .header
   =render :partial => "layouts/header"
   -if show_member_submenu
    =render :partial => "layouts/members"
  .container
   .row
    .col-xs-6.col-xs-offset-3
     -unless notice.nil?
      %p#noticeMessages.alert.alert-success=notice
      :javascript
       $("#noticeMessages").animate({opacity: "toggle"}, 2000);
     -unless alert.nil?
      %p#alertMessages.alert.alert-info=alert
      :javascript
       $("#alertMessages").animate({opacity: "toggle"}, 2000);
   .row
    &nbsp;
  .pageDetail
   =yield
