.container
 .row
  .col-md-offset-3.col-md-6
   .panel.panel-default
    .panel-heading
     %h1.panel-title
      Renew Membership
    .panel-body
     %p
      Renew my membership for the full year 2016-2017
     %h2
      =current_user.membership_type
      Membership Type:
     .indented
      .radio
       %label
        %input{type: "radio", name: "membershipType", checked: current_user.membership_type_sym == :senior}
        Senior
      .radio
       %label
        %input{type: "radio", name: "membershipType", data: {toggle: "radio-collapse", target: "#pensionerNumberGroup"},
               checked: current_user.membership_type_sym == :pensioner}
        Pensioner
      #pensionerNumberGroup.indented
       .input-group
        %span.input-group-addon Pensioner Number
        %input.form-control{type:"text", aria:{label:"Enter your pensioner number"}}
      .radio
       %label
        %input{type: "radio", name: "membershipType", data: {toggle: "radio-collapse", target: "#studentNumberGroup"},
               checked: current_user.membership_type_sym == :student}
        Student
      #studentNumberGroup.indented
       %i As a student you are under 25
       .input-group
        %span.input-group-addon Student Number
        %input.form-control{type:"text", aria:{label:"Enter your student number"}}
      .radio
       %label
        %input{type: "radio", name: "membershipType", data: {toggle: "radio-collapse", target: "#juniorDescription"},
               checked: current_user.membership_type_sym == :junior}
        Junior
      #juniorDescription.indented
       %i As a Junior you must be under 18
     
     %h2 Life Membership
     %p
      -if current_user.life_member?
       You are a life member
      -else
       Standard membership
     
     %h2 Affiliate Status
     .indented
      .radio
       %label
        %input{type: "radio", name: "affliliateStatus", checked: !current_user.affiliate?}
        MARCS is my main club
      .radio
       %label
        %input{type: "radio", name: "affliliateStatus", data: {toggle: "radio-collapse", target: "#mainClubGroup"},
               checked: current_user.affiliate?}
        Another club is my main club
      #mainClubGroup.indented
       .input-group
        %span.input-group-addon Main club
        %input.form-control{type:"text", aria:{label:"Enter name of your main club"}}

     %br
     %p
      %label
       %input{type:"checkbox", data: {toggle: "enable", target: "#submitButton"}}
       I have read and agree to the 
       %a{href: club_rules_home_index_path, target: "_blank"} club rules

     %br
     %p
      %input#submitButton.btn.btn-primary{type:"submit"}
